/*
    START
    mypage, profile, wish, record 동일 형식 
*/

html, body{
    margin: 0;
    padding: 0;
}

/* navbar */
.mypage-container{
    display: flex;
    margin-top: 60px;

}

/* navbar */
.mypage-container .navbar-container{
    width: 240px;
    margin-top: 80px; margin-right: 48px;
    margin-left: 130px;
    /* 생략 display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-title{
    width: 240px;
    height: 60px;
    text-align: center;
    border: 1px solid #FBD6D5;
    outline: none;
    background-color: white;
    font-weight: 800;
    color: #3B3838;
    cursor: pointer;
}

.nav-title:hover{
    color: #F47F7C;
    background-color: #FFF4F3;
}

.nav-button{
    width: 240px;
    height: 60px;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
    color: #3B3838;
    cursor: pointer;
}

.nav-button:hover{
    color: #F47F7C;
    background-color: #FFF4F3;
}

/* content */
.mypage-container .content-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 870px;
    /*
    div 영역 확인용
    border: 1px solid pink;
    */
}

.content-container .title{
    font-size: 32px;
    margin-left: 1rem; margin-right: 1rem;
    margin-top: 0.5rem; margin-bottom: 0.5rem;
    color: #F47F7C;
    font-weight: bold;
}

.content-container .content{
    margin: 1rem;
    margin-top: 0;
}
/*
    mypage, profile, wish, record 동일 형식
    END
*/

.wishlist-container{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.wishlist-container .wishitem-container{
    margin: 0.7rem;
    border: 1px solid rgb(255, 231, 235);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wishitem-container .wishitem-photo{
    border: 2px solid #FBD6D5;
    margin: 0.5rem;
    width: 225px; height:225px;
    display: flex;
    align-items: flex-end;
}

.like-button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.wishitem-description{
    margin-top: 0.5rem;
    width: 225px;
    text-align: left;    
    color: #3B3838;
}